{
  "semi": true,
  "printWidth": 140,
  "tabWidth": 3,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}
